<!-- <app-footer></app-footer>
<h1> App component</h1>
<h1>mark</h1>
<h1>{{ name }}</h1>
<h1>{{ 100 + 200 }}</h1>
<h1>{{'welcome' + name}}</h1>
<h1>{{name.length}}</h1>
<h1>{{name.toUpperCase()}}</h1>
<h1>{{getMessage()}}</h1>
<img [src] = "imagepath"/>
<img src = "{{imagepath + imageName}}"/><br>
<button disabled>click me</button>
<button disabled={{isDisabled}}>click me</button>
<button [disabled]="isDisabled">click me</button>
<app-header></app-header> -->
<!-- <app-sidebar></app-sidebar> -->
<!-- <app-twowaydatabinding></app-twowaydatabinding>   --> 
<!-- <app-parentchildbinding [fname]="firstName" [lname]="lastName"></app-parentchildbinding> -->
<!-- <app-parentchildbinding [details]="Employee"></app-parentchildbinding> -->
<!-- {{message}}
<app-parentchildbinding (childEvent)="message=$event"></app-parentchildbinding> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-custompipes></app-custompipes> -->
<app-employee></app-employee>
<app-employee-list></app-employee-list>