<h1>Employee List Component</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Date Of Birth</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.empId }}</td>
            <td>{{ employee.name | uppercase }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.salary | currency : 'INR' }}</td>
            <td>{{ employee.dateOfBirth | date: 'longDate' }}</td>
        </tr>
    </tbody>
</table>