<div class = "container">
    <table class = "table">
        <thead>
            <th> image </th>
            <th> productName </th>
            <th> price </th>
            <th> unit </th>
        </thead>
        <tbody>
            <tr *ngFor = "let ct of cart">
                <td><img src = "{{ url + ct.image }}"  width="120" height="200"></td>
                <td>{{ ct.productName }}</td>
                <td>{{ ct.mrp | currency: 'INR' }}</td>
                <td>{{ ct.unit }}</td>
                <td>{{ count }}</td>
                <td><i class = "far fa-trash-alt"></i></td>
            </tr>
        </tbody>
    </table>
</div>
